body{
    background: linear-gradient(180deg, rgba(var(--background-color), 0.01), rgba(var(--background-color),1) 85%),radial-gradient(ellipse at top left, rgba(13,110,253, 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(255,228,132, 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(112.520718,44.062154,249.437846, 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(214,51,132, 0.5), transparent 50%)!important;
    background-repeat: no-repeat !important;
    background-size: 100% 700px!important;
}

.trancate-text{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.starter-header{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(var(--text-color));
    padding: 0 15%;
}

.starter-header h1{
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 15px;
}
 .colored-text{
    color: #26a7de;
 }


@media screen and (max-width: 768px){
    .starter-header h1{
        font-size: 3rem;
    }
}

.section-1{
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promotion img{
    width: 95vw;
    max-height: 60vh;
    margin-top: 10px;
    padding: 15px;
    object-fit: cover;
    z-index: -1;
    border-radius: 25px;
    overflow: hidden;
}


.section-2{
    height: 80vh;
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding: 100px;
    border-radius: 15px;
    gap: 20px;
}



.card-title::after {
   
    content: '';
    display: block;
    border-bottom: 3px solid #26a7de;  
    width: 75px;
    margin-top: 7px;
}



/* explore card styling */

.explore-item:hover{
    cursor: pointer;
    background-color: #f8f9fa;

}
.explore-list-item-pic{
    display: flex;
    margin : 5px;
    width : 25px;
    height : 25px;
    border-radius: 50%;
}

.explore-list-item-name{
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: smaller;
}

.explore-list-wraper{
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.explore-list-item-description{
    padding: 0%;
    margin: 0%;
    margin-left: 5px;
    font-size: x-small;

}


/* blog card styling */
.article-item{
    color: rgb(var(--text-color));
}
.article-item:hover{
    cursor: pointer;
    background-color: rgb(var(--ShadeBackground-color));
    border-radius: 5px;

}

.article-items-name{
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 0;
    font-weight: 500;
    font-size:medium;
}

.article-items-description{
    margin: 0%;
    padding-bottom: 3px;
    margin-left: 5px;
    font-size: small;
}

.article-card hr{
    margin-top: 0;
    margin-bottom: 0;
}

.show-more-icon:hover{
    transition: all 0.2s ease-in-out;
    scale: 1.1; 
}



/* section-3 */
.section-3{
    margin: 50px 0px;
}

.section-3 img{

    padding: 10px;
    border-radius: 20px;
    object-fit: cover;
    
}

.about-description{
    padding: 50px;
    padding-top: 20px;
    text-align: justify;
}


@media screen and (max-width: 768px){
    .section-1 h1{
        font-size: 1.5rem;
    }
    .section-2{
        height: auto;
    }

}



