{% extends 'main.html' %}
{% load static %}


{% block title %}{{article.Title|capfirst}}{% endblock title %}


{% block header_items %}
    <link rel="stylesheet" href="{% static 'css/article_detail.css'%}">
{% endblock header_items %}

{% block content %}
    {% include 'includes/navbar.html' %}
    <div class="whole-article container my-5">
        <div class="m-3">
            <a href="{% url 'articles' %}"><i class="fa-solid fa-arrow-left back-icon" style="color: #26a7de;"></i></a>

            <div class="author-details px-2">   
                <img  src="{% static 'img/me.jpg'%}" alt="">
                <p>{{article.Author}}
                    <svg aria-label="Verified" class="mb-1" color="rgb(0, 149, 246)" fill="rgb(0, 149, 246)" height="15" role="img" viewBox="0 0 40 40" width="18">
                        <path d="M19.998 3.094 14.638 0l-2.972 5.15H5.432v6.354L0 14.64 3.094 20 0 25.359l5.432 3.137v5.905h5.975L14.638 40l5.36-3.094L25.358 40l3.232-5.6h6.162v-6.01L40 25.359 36.905 20 40 14.641l-5.248-3.03v-6.46h-6.419L25.358 0l-5.36 3.094Zm7.415 11.225 2.254 2.287-11.43 11.5-6.835-6.93 2.244-2.258 4.587 4.581 9.18-9.18Z"></path>
                    </svg>
                </p>
                
            </div>
            <img class="article-image rounded" src="{{article.Image.url}}" alt="">
            <div class="date-category d-flex justify-content-between p-2">
                <p>{{article.Date}}</p>
                <p> <strong>Category: </strong>{{article.Category}}</p>
            </div>
            
            <div>
                <h2 class="article-title">{{article.Title|capfirst}}</h2>
                <p class="article-body my-4">{{article.Body}}</p>

            </div>
            <div class="tags-list">{% for tag in tags%}<span class="tags">#{{tag}}</span>{% endfor %}</div>

        </div>
    </div>
   

    {% include 'includes/subscribe.html' %}
    {% include 'includes/footer.html' %}
{% endblock content %}