{% extends 'main.html' %} 
{% load static %}

{% block header_items %}
    <link rel="stylesheet" href="{% static 'css/articles.css'%}">
{% endblock header_items %}

{% block title %}Articles | Sadaf{% endblock title %} 

{% block content %}

    {% include 'includes/navbar.html' %}
        <section class="heading mx-auto text-center m-3">
            <h1 class="article-heading">Articles</h1>
            <p>I like to blog about stuff like productivity, business, YouTube, and other stuff I'm interested in. Hopefully you'll find some of it interesting too. </p>
        </section>
        <section class="d-flex justify-content-between list-of-articles mb-4">
            <div class="col-md-9 col-9 mx-auto">
                <h3 class="mb-3 sorted-article-title">Listed : {{current_topic|capfirst}}</h3>

                {% for article in articles%}
                    <a class="card article-card p-3 mb-2"  href="{% url 'article_detail' article.Slug %}">
                        <h4>{{article.Title|capfirst}}</h4>
                        <div class="row">
                            <p class="col-6 m-0"> {{article.Date|date}}</p>
                            <p class="col-6 m-0"><strong>Category:</strong> {{article.Category}}</p>
                        </div>
                        <p class="text-truncate my-1 text-wrap article-card-description mt-3">{{article.Summary}}</p>
                    </a>
                {% endfor %}
            </div>

                <div class="browse-card col-2 mx-auto  p-md-3 p-2">
                    <h4>Browse Topic</h4>
                        <a class="browse-item" href="{% url 'articles' %}"><strong>All</strong></a>
                        {% for topic in topics %}
                            <a class="browse-item " href="{% url 'articles' %}?topic={{topic.Slug}}">{{topic.Name|capfirst}}</a>
                        {% endfor %}
                    
                </div>
        </section>

    {% include 'includes/subscribe.html' %}
    {% include 'includes/footer.html' %}
{% endblock content %}
