{% extends 'main.html' %} 
{% load static %}

{% block header_items %}
    <link rel="stylesheet" href="{% static 'css/articles.css'%}">
    <script src="{% static "js/article.js" %}"></script>
{% endblock header_items %}

{% block title %}Articles | Sadaf{% endblock title %} 

{% block content %}

    {% include 'includes/navbar.html' %}
        <div class="wrapper">
            <div class="article-header">
                <img src="https://www.miansadaf.tech/static/img/me.4985af247a1d.jpg" alt="">
                <div class="article-title">
                    <h1>Mian Sadaf Articles</h1>
                    <p>I like to blog about stuff like productivity, business, YouTube, and other stuff I'm interested in. Hopefully you'll find some of it interesting too.</p>
                </div>            
            </div>
            <!--article content start here  -->
            <div class="article-list">
                <h1 class="section-title">Latest</h1>
                <div class="latest-article">
                    <img src="{{latest.Image.url}}" alt="">
                    <div class="latest-article-details">
                        <div class="latest-article-minor-details">
                            <p id="latest-article-category">{{latest.Category}}</p>
                            <p>{{latest.Date|date}}</p>
                        </div>
                        
                        <div class="latest-article-title">
                            <h1>{{latest.Title}}</h1>
                            <p>{{latest.Summary}}</p>
                        </div>
                    </div>
                    
                    
                </div>
                <h1 class="section-title">All Articles</h1>
                <div class="article-by-topic">
                    <div class="dragging-icon">
                        <i class="fa-solid fa-angle-left" id="left"></i>
                    </div>  
                    <div class="topic">
                        <a href="{% url 'articles' %}">All</a>
                        {% for topic in topics%}
                            <a href="">{{topic.Name|capfirst}}</a>
                        {% endfor %}
                    </div>
                    <div class="dragging-icon">
                        <i class="fa-solid fa-angle-right" id="right"></i>
                    </div>
                </div>
                <div class="all-articles">
                    {% for article in articles %}
                        <a href="{% url "article_detail" article.Slug%}" class="article-card">
                            <img src="{{article.Image.url}}" alt="">
                            <div class="article-card-details">
                                <p id="article-card-category">{{article.Category}}</p>
                                <p>{{article.Date|date}}</p>
                            </div>
                            <div class="article-card-title">
                                <h1>{{article.Title|capfirst}}</h1>
                                <p>{{article.Summary}}</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>


    {% include 'includes/subscribe.html' %}
    {% include 'includes/footer.html' %}
{% endblock content %}
