
:root{
    --background-color: 255,255,255;
    --text-color: #333;
    --ShadeBackground-color: 229,229,229;
    --border-color : 204,204,204;
    --blue-text-color : 34, 113, 147;
}

html{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif!important;
    text-align: left;
     
}
body{
    background: linear-gradient(180deg, rgba(var(--background-color), 0.01), rgba(var(--background-color),1) 85%),radial-gradient(ellipse at top left, rgba(13,110,253, 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(255,228,132, 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(112.520718,44.062154,249.437846, 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(214,51,132, 0.5), transparent 50%)!important;
    background-repeat: no-repeat !important;
    background-size: 100% 700px!important;
    font-family: 'Manrope', sans-serif!important;
    background-color: rgb(var(--background-color))!important;
    color: rgb(var(--text-color));
}

body.dark-mode{
    --background-color: 0,0,0;
    --text-color: 255,255,255;
    --ShadeBackground-color: 26,26,26;
    --border-color: rgb(102,102,102);
    --blue-text-color : 255,255,255;
}

 



.card{
    background-color: rgba(255,255,255,0.3)!important;
    color: rgb(var(--text-color));
    border-color: rgb(var(--border-color));
    transition: all 0.3s ease-in-out;
}
.card:hover{
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 10px 0 rgba(var(--text-color),0.1);
    scale: 1.01;
}

    /* navbar */
.navbar-placeholder{
    height: 80px;
}

.navbar-background{
    background-color: rgb(var(--text-color))!important;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    transition: background 0.4s ease-in-out;
}

.navbar-brand{
    z-index: 20;
    display: flex;
    align-items: center;
}
.navbar-brand img{
    width: 75px;
    padding-left: 30px;
    margin-left: 5vw
    
}

.navbar-navigations{
    margin-right:5vw;
}

.nav-link{
    cursor: pointer;
    margin: 10px;
    color: rgba(var(--text-color),0.9);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.nav-link:hover{
    color: rgba(var(--text-color),1);
    transform: scale(1.03);
}


.hamburger{
    position: absolute;
    right: 0;
    margin-right: 5vw;
    padding:30px;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: none;
    text-decoration: none;
    z-index: 20;
}

.hamburger #menu-icon{
    font-size: 1.4rem;
    color: rgb(var(--text-color));
}

.hamburger #close-icon{
    font-size: 1.8rem;
    color: rgb(var(--text-color));
}

.hamburger:hover{
    transform: scale(1.05);
} 

.toggle-theme{
    display: inline-block;
    rotate: 225deg;
    transition: transform 0.3s ease; 
}

.toggle-theme.flipped {
    transform:  scale(1.1) rotate(360deg);
}

.subscribe-section{
    background-color: rgb(var(--ShadeBackground-color));
    width: 100%;
    margin: 0%;
}

.subscribe-form-input{
    border: 1px solid #ced4da;
    border-radius: 12px;
    padding: 10px;
    padding-left: 15px;
}

.subscribe-form-button{
    border: 1px solid #ced4da;
    border-radius: 12px;
    padding: 10px;
    background-color: #26a7de;
    color: white;
}
.subscribe-form-button:hover{
    background-color: #2ba1d3;
}

.social-media-icons i:hover{
    transition: all 0.2s ease-in-out;
    color: #26a7de;
    transform: scale(1.15);
}


@media (max-width: 1000px) {
    .navbar-brand img{
        margin-top: 10px;
        width: 75px;
    }
    .navbar-brand{
        font-size: 20px;
    }
    .subscribe-section{
        padding: 20px;
    }

    .hamburger{
        display: block;
    }

    #close-icon{
        display: none;
    }

    .navbar-navigations{
        background-color: rgb(var(--background-color))!important;
        position: fixed!important;
        top: 0;
        right:0;
        width: 100vw;
        height: 0vh;
        padding: 0;
        margin: 0%;
        display: flex;
        flex-direction: column!important;
        align-items: center;
        justify-content: space-evenly;
        transition: all 0.2s ease-in-out; 
        overflow: hidden;
        z-index: 15;
    }

    .nav-item{
        margin: 0;
        padding: 0;
    }


    .navbar-navigations::before{
        content: '';
        padding-top: 60px;
    }

    .nav-link{
        color: rgb(var(--text-color));
        
    }

    .nav-link:hover{
        color: rgba(var(--text-color),0.8);
    }
   
    
}