{% extends 'main.html' %}
{% load static %}

{% block title %}About | Sadaf{% endblock title %}


{% block header_items %}
    <link rel="stylesheet" href="{% static 'css/about.css'%}">
{% endblock header_items %}

{% block content %}
    {% include 'includes/navbar.html' %}
<div class="about">
    <div class="navbar-placeholder"></div>
    <div class="container">
        
        <section class="row d-flex justify-content-center my-md-5 my-3">
            <div class="col-md-6 col-10 mx-auto my-auto">
                <h1 class="section-heading">About Me</h1>
                <p>"Hello friends! I'm an aspiring Computer Science student with a passion for contributing to the field of Artificial Intelligence.</p><br>
                <p>I created this website to share my work, ideas, creations, insights, etc. The goal is to hopefully make a meaningful impact through my content.</p>
            </div>
            <div class="col-md-4 col-sm-10 d-flex justify-content-center">
                <img src="{% static 'img/me9.jpg'%}" alt="pic of Sadaf" style="height:320px; width:320px; object-fit:cover;">
            </div>
            
        </section>

        <section class="row d-flex my-md-5 my-3 justify-content-center">
            <div class="col-md-6 col-10 mx-auto my-auto">
                <h1>Who Am I</h1>
                <p>I am Mian Zain Ali Shah, born in November 2003 in Malakand, Pakistan. I come from a Pashtun family, nurtured in rich cultural values. Intreseted in stuff only a nerd would only like, for instance Programming, Graphic Designing, football, etc.</p>
                <p>This page is a little self indulgent, it’s all about me. Hopefully you’ll find it interesting though 🙂.</p>
            </div>
            <div class="col-md-4 col-sm-10 d-flex justify-content-center">
                <img class="col-12" src="{% static 'img/me8.jpg'%}" alt="pic of Sadaf" style="height:320px; width:320px; object-fit:cover;">
            </div>
        </section>

        <section class="d-flex row my-3 justify-content-center">
            <div class="col-md-6 col-10 mx-auto my-auto">
                <h1>Quick Facts About Me</h1>
                <ul class="">
                    <li>I'm Muslim
                    </li>
                    <li>Got one Bother and one Sister
                    </li>
                    <li>Reside in Pakistan
                    </li>
                    <li>Proficient in English, Pashto, and Urdu
                    </li>
                    <li>Interests encompass coding, movies, philosophy, physics, and football 
                    </li>
                    <li>Fantasies include pirate, billionaire, and surgeon.
                    </li>
                </ul>
            </div>
            
            <div class="col-md-4 col-sm-10 d-flex justify-content-center">
                <img class="col-12" src="{% static 'img/me4.jpg'%}" alt="pic of Sadaf" style="height:320px; width:320px; object-fit:cover; ">
            </div>
        </section>

        <section class="d-flex row my-5">
            <div class="col-md-6 col-10 mx-auto my-5">
               <h1>My Journey</h1>
                <p>Based in Wartair Malakand, my educational journey commenced at Army Public School Dargai Fort, followed by FSC at Malakand Public School and College. Initially pursuing pre-medical studies, I realized it wasn't my forte. Post FSC, I opted for a path aligned with my passion for computers and physics, applying for Artificial Intelligence in Comsats, where I anticipate graduation in 2026.</p>
                <p>Since childhood, my curiosity led me to learn various skills, including Graphic Designing, Web Development, and Programming. I've always been fascinated by computers and physics, inspired by movies like Interstellar, The Martian and books such as The HitchHiker's Guide to the Galaxy.</p>
                <p>In my free time, I enjoy playing video games, and I've even won some local tournaments. Additionally, delving into philosophy, particularly the works of Plato, Friedrich Nietzsche, and Dostoyevsky, has fueled my passion for questioning the nature of reality.</p>
                <br>
                <p>I'm Currently pursuing my legal studies at Comsats University Islamabad, Abbottabad Campus. where i devoted myself making tangible impact while achieving by highest GPA making my presence in Principal's Honor Roll.</p>
                <p>That's the concise version of who I am!</p>
            </div>

            <div class="col-md-4 col-10 mx-auto  mt-md-5 my-2 ">
                

                <ul class="journey-timeline">
                    <li>
                        <h1>2003 - 2008</h1>
                        <p>I was born in Pakistan in 2003. Growing up, I was immersed in the values of a hardworking, working-class family that instilled in me the importance of resilience and determination. Little memory, that i started learning python at a very young age from a pashto instructor online. Also i was a real nerd for Gaming. </p>
                    </li>
                    <li>
                        <h1>2009 - 2017</h1>
                        <p>At APS, I served as a senior disciplinary proctor, ensuring a positive environment. Simultaneously, I led as the head and captain of the sports team, honing leadership and teamwork skills.</p>
                    </li>
                    <li>
                        <h1>2018-2021</h1>
                        <p>I completed my FCS at Malakand Public School, gaining a solid foundation in Medicine. Concurrently, I delved into the world of freelancing, kickstarting my journey as a graphic designer and channeling my creative skills into visually compelling projects.</p>
                    </li>
                    <li>
                        <h1>2021-current</h1>
                        <p>Realizing that studying Medicine wasn't my cup of tea, I developed a keen interest in the field of Artificial Intelligence. Consequently, I made the decision to enroll in Comsats University, pursuing a degree in Computer Science to align with my newfound passion. Despite my enthusiasm, a startup venture I attempted didn't unfold as planned, teaching me valuable lessons in resilience and adaptability.</p>
                    </li>
                        
                </ul>
                
            </div>

            

        </section>
    </div>
</div>
    {% include 'includes/footer.html' %}
{% endblock content %}
