{% extends 'main.html' %}
{% load static %}

{% block title %}Contact | Sadaf{% endblock title %}

{% block header_items %}
    <link rel="stylesheet" href="{% static 'css/contact.css'%}">
{% endblock header_items %}


{% block content %} 
    {% include 'includes/navbar.html' %}
    
    
<section class="section-1 container">

    <div class="p-5"></div>
    <div class="row mt-5 mb-5">
      <div class=" col-md-6 d-flex flex-column justify-content-center text-center">
        <h1>Contact</h1>
        <p>+923180911060</p>
        
        <p>
          Email: Miaanzainali@gmail.com
        </p>
        
      </div>
      
      <div class="col-md-6 col-5 mx-auto">
      
        <img class="rounded img-fluid mx-auto col-sm-12 col-md-8" src="{% static 'img/earth.png' %}" alt="">
        
      </div>
    </div>
  
</section>

    {% include 'includes/subscribe.html' %}
    {% include 'includes/footer.html' %}

{% endblock content %}