{% load static %}

<div class="navbar-placeholder"></div>
<nav class="navbar navbar-expand-lg " id="navbar">
    <a class="navbar-brand" href="/"><img id="logoImg" src="{% static 'img/logo2.png'%}" alt="Logo"></a>
    <div class="navbar-collapse justify-content-end">
      <ul class="navbar-nav navbar-navigations" id="navbar-toggle">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'explore' %}">Explore</a>
        </li>
        <li class="nav-item ml-auto">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'articles' %}">Article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="nav-item">
          <i id="background-btn" class="toggle-theme fa-solid fa-circle-half-stroke nav-link"></i>
        </li>
      </ul>
    </div>
    <a class="hamburger">
        <i class="fa fa-bars" id="menu-icon"></i>
        <i class="fa fa-times " id="close-icon"></i>
      </a>
  </nav>