<section class="subscribe-section d-flex justify-content-center rounded-3 row py-5">
    <div class="col-md-4 col-sm-10 ">
      <h1>💌 Subscribe to Sunday Snippets</h1>
      <p class="m-0" >"Your emails always warm the cockles of my heart"</p>
      <p>Join a growing community of friendly readers. Every Sunday I share actionable productivity tips, practical life advice, and high-quality insights from across the web, directly to your inbox</p></p>
    </div>
    <div class="col-md-4 col-10">
      <form class="my-5 form-group d-flex flex-column" method="POST" action="{% url 'subscribe' %}">
        {{subscriber_form.name}}
        {{subscriber_form.email}}
        <button onclick="subscribe()" class="subscribe-form-button px-3 mx-auto">Subscribe</button>
      </form>
      <div id="subscribe-message"></div>
    </div>
  </section>